.App {
  background-color: #282c34;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}

.App-header {
  background-color: #282c34;
}

.App-footer {
  background-color: #282c34;
  text-align: center;
  margin: auto;
}

.App-footer > h1 {
  text-align: right;
  border: 3px solid #73AD21 !important;
}

.App-footer > div {
  width:100%;
  text-align: center !important;
  
  margin: auto !important;
}

.App-link {
  color: #61dafb;
}