.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  height:150px;
}

.App-content {
  background-color: #282c34 !important;
}

.App-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .8);
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
}

.App-footer > div > div {
  margin: auto; /* Fixes Giphy grid alignment issue */
}

.App-link {
  color: #61dafb;
}